@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');

$red: #dd5653;
$sage: #bddbc5;
$beige: #F2E2CE;
$dark-beige: #e7d4bd;
$aqua: #94D7CD;
$light-orange: #f28f38;
$dark-orange:#d95525;
$rose: #DB978E;
$dark-green: #697322;

body {
  background-color:#fafafa;
}

#navigation{
  width: 100%;
  nav{
    display: grid;
    padding-top: 1em;
    padding-left: 3em;
    padding-bottom: 1em;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: $beige;
    column-gap: 2em;
    border-bottom: 1px solid $dark-beige;
    h1 {
      font-family: 'Calistoga', cursive;
      font-size: 2.5em;
      font-weight: lighter;
      color: white;
      text-shadow: 4px 3px 1px $dark-green;
      margin: 0;
      margin-left: 1em;
    }
    .navLinks {
      a{
        text-decoration:none;
        color: $dark-green;
        font-weight: bold;
        margin-left: 70px;
        padding: 7px 10px;
        transition: 0.3s;
        width: 200px;
      }
      a:hover{
        color: #f0f0f0;
        background-color: $rose;
        border-radius: 10px;
      }
      #login-signup {
        background-color: $red;
        color: #f0f0f0;
        border-radius: 10px;
        transition: 0.3s;
      }
      #login-signup:hover {
        opacity: 0.6;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  #navigation{
h1 {
  margin-left: 30px
}
  }
}

.userDrink {
  ul {
    padding: 0;
    margin: 0;
    li {
      list-style: none;
    }
  }
  margin: 3em 0;
}



// @import '~bootstrap/scss/bootstrap.scss';

