
#navigation{
  display: inline-block;
  text-align: center;
  width: 100%;
  nav {
    display: grid;
    grid-template-columns: repeat(5, 1fr)
  }
}

.userDrink {
  ul {
    padding: 0;
    margin: 0;
    li {
      list-style: none;
    }
  }
  margin: 3em 0;
}

@import '~bootstrap/scss/bootstrap.scss';

