$red: #dd5653;
$sage: #bddbc5;
$beige: #F2E2CE;
$dark-beige: #e7d4bd;
$aqua: #94D7CD;
$light-orange: #f28f38;
$dark-orange:#d95525;
$rose: #DB978E;
$dark-green: #697322;
$black: #282828;

#signupLogin {
  text-align: center;
}