@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');

$red: #dd5653;
$sage: #bddbc5;
$beige: #F2E2CE;
$dark-beige: #e7d4bd;
$aqua: #94D7CD;
$light-orange: #f0b17a;
$dark-orange:#d95525;
$rose: #DB978E;
$dark-green: #697322;
$grey: #444444;

#drinksList {
  h1 {
    margin-left: 10%;
    color: $dark-green;
  }
  span#username {
    color: $red;
  }
  h2 {
    margin-left: 10%;
    color: $grey;
  }
}
#allUserDrinks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content:center;
  gap: 2em;
  width: 60%;
  margin: 0 auto;
  h2 {
    color: $rose;
  }
  td {
    padding-bottom: 0.5em;
  }
  .userDrink {
    width: 100%;
    table {
      table-layout: fixed;
      margin: 0 auto;
    }
    span.drinkFeature {
      font-weight: 550;
      color: $dark-green;
    }
    span.value {
      float: right;
    }
  }
  .drinkCounter {
    text-align: center;
  }
  #drinkControls {
    text-align: center;
  }
  .userDrink {
    padding: 2%;
    border: 1px solid $dark-beige;
    border-radius: 2%;
    transition: 0.3s;
    background-color: #fdfdfd;
  }
  .userDrink:hover {
    box-shadow: 5px 5px $beige;

  }
}

button, input[type="submit"] {
  border: none;
  padding: 5px;
  background-color: $rose;
  border-radius: 5px;
  margin: 5px;
  transition: 0.3s;
  color: #fafafa;
}

button:hover, input[type="submit"]:hover {
  background-color: $light-orange;
}

button a {
  text-decoration: none;
  color: #fafafa;
}

header {
  display: inline-flex;
  width: 100%;
  align-items: center;
  gap: 2%;
  h1 {
    font-family: 'Calistoga', cursive;
    font-weight: 200;
    letter-spacing: 1.2px;
  }
}